{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="https://cdn-icons-png.flaticon.com/24/2767/2767003.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" >{{nama}}'s wishlist</a>
      <a class="btn btn-outline-primary" href="{% url 'wishlist:logout' %}">Logout</a>
    </div>
  </nav>


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="col-xl-10 offset-xl-1 mt-4">
    <table class="table table-bordered">
        <thead>
            <tr class="table-info">
            <th  style="text-align:center">Nama Barang</th>
            <th  style="text-align:center">Harga Barang</th>
            <th  style="text-align:center">Deskripsi</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
            {% for barang in list_barang %}
                <tr>
                    <td >{{barang.nama_barang}}</td>
                    <td>{{barang.harga_barang}}</td>
                    <td>{{barang.deskripsi}}</td>
                </tr>
            {% endfor %}
        </div>
        </tbody>
    </table>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Sesi terakhir login: {{ last_login }}</p>
        </blockquote>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    

    
    
    <form method="POST" action="">
      {% csrf_token %}
      <h5>Add New</h5>
      <table>
        <tr>
          <td>Nama Barang: </td>
          <td><input type="text" id="nama_barang" name="nama_barang" placeholder="Nama Barang" class="form-control"></td>
        </tr>
  
        <tr>
          <td>Harga Barang: </td>
          <td><input type="number" id="harga_barang" name="harga_barang" placeholder="Harga Barang" class="form-control"></td>
        </tr>
  
        <tr>
          <td>Deskripsi: </td>
          <td><textarea class="form-control" id="deskripsi" name="deskripsi"></textarea></td>
        </tr>
  
        <tr>
          <td></td>
          <td><input class="btn btn-success" type="submit" value="Submit" id="newBtn"></td>
        </tr>
      </table>
    </form>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function postNew(e) {
      e.preventDefault()
      var namaBarang = $("#nama_barang").val()
      var hargaBarang = $("#harga_barang").val()
      var deskripsi = $("#deskripsi").val()
  
      var data = {
        nama_barang: namaBarang,
        harga_barang: hargaBarang,
        deskripsi,
        csrfmiddlewaretoken: "{{ csrf_token }}"
      }
  
      $.ajax({
        type: 'POST',
        url: '/wishlist/ajax/submit',
        data: data, 
        success: () => {
          alert("Done!")
          fetchData()
        },
        dataType: 'json'
      });
    }
  
    function buat_tabel(data) {
      const table = $("#tbl")
      table.empty()
      for (let i = 0; i < data.length; i++) {
        table.append(`
          <tr>
            <td>${data[i].fields.nama_barang}</td>
            <td>${data[i].fields.harga_barang}</td>
            <td>${data[i].fields.deskripsi}</td>
          </tr>
          `)
      }
    }
  
    function fetchData() {
      $.get("/wishlist/json", buat_tabel)
    }
  
    $(document).ready(() => {
      $("#newBtn").click(postNew)
      fetchData()
    })
  </script>
</script>

  </body>
</html>

<style>
  body{
    background-image: linear-gradient(to left bottom, #0502c5, #3b04ab, #490c92, #4d167b, #4c1e66);
  }
</style>
{% endblock content %}
